[[source]]
name = "pypi"
# url = "https://pypi.org/simple"
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-ckeditor = "*"
flask-moment = "*"
faker = "*"
python-dotenv = "*"
flask-wtf = "*"
bootstrap-flask = "*"
flask-login = "*"

[requires]
python_version = "3.6"
